<!DOCTYPE html>

    <head>

        <!-- Specify UTF-8 charset. -->
        <meta http-equiv = "content-type" content = "text/html; charset=utf-8" />
        <!-- Define viewport, important for mobile view (responsive). -->
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>ToDo tracker</title>
        <!-- Import Bootstrap with theme "Superhero" from bootswatch.com. -->
        <link rel = "stylesheet" type = "text/css" href = "css/bootstrap.min.css" />
        <meta name = "language" content = "en" />

    </head>

    <body>

        <nav class = "navbar navbar-default">

            <div class = "container">

                <div class = "navbar-header">

                    <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#collapsed-nav" aria-expanded = "false">
                        <span class = "sr-only">Toggle navigation</span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                    </button>

                    <a href = "/" class = "navbar-brand">
                        <span class = "glyphicon glyphicon-home"></span>
                    </a>

                </div>

                <div class = "collapse navbar-collapse" id = "collapsed-nav">

                    <ul class = "nav navbar-nav navbar-right">
                        <li>
                            <a href = "add">Add ToDo</a>
                        </li>
                        <li>
                            <a href = "imprint">Imprint</a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>

        <div class = "container">

            <table class = "table table-striped table-hover">

                <thead>

                    <tr>
                        <th class = "col-sm-7">ToDo</th>
                        <th class = "col-sm-2">Deadline</th>
                        <th class = "col-sm-1">Progress</th>
                        <th class = "col-sm-1"></th>
                        <th class = "col-sm-1"></th>
                    </tr>

                </thead>

                <tbody>

                {{with .TodoList}}
                    {{range .}}

                    <tr>
                        <td>{{ .Description }}</td>
                        <td>{{ .Deadline }}</td>
                        <td>{{ .Progress }}%</td>
                        <td>
                            <a href = "/edit/{{ .ID }}">
                                <span class = "glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <a href = "/delete/{{ .ID }}">
                                <span class = "glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>

                    {{end}}
                {{end}}

                </tbody>

            </table>

        </div>

        <footer>

            <!-- Import jQuery and Bootstrap JavaScript. -->
            <script type = "text/javascript" src = "../js/jquery.min.js" charset = "utf-8"></script>
            <script type = "text/javascript" src = "../js/bootstrap.min.js" charset = "utf-8"></script>

        </footer>

    </body>

</html>